/* Global */
body {
  position: relative;
  font-family: system-ui;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 25px;
}
:root {
  --main-color: #007bff;
}
html {
  scroll-behavior: smooth;
}
.section-subtitle h2 {
  position: relative;
}
.section-subtitle h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 20%;
  height: 4px;
  background-color: var(--main-color);
}
.section-title {
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 4px;
  background-color: var(--main-color);
}
/*Navbar*/
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}
.navbar .bars {
  color: white;
}
.navbar li {
  position: relative;
}
.navbar li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.5s;
}
.navbar li:hover::after {
  width: 70%;
}
.dark-mode-dropdown {
  color: #fff;
}

.dark-mode-dropdown-menu {
  background-color: #171a1c;

}

.dark-mode-dropdown-item {
  color: #fff;

}

.dark-mode-dropdown-menu .dropdown-submenu .dropdown-menu {
  background-color: #171a1c;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu .dropdown-menu {
  top: 70px;
  right: 100%;
  margin-top: -1px;
}

.dropdown-menu {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  transition: opacity 0.3s;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
}
}

/*Home*/
.landing-page {
  height: calc(100vh);
  position: relative;
  color: white;
  top: 0;
  left: 0;
}
.landing-page .home-content .home-image {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}
.landing-page .dynamic-text {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}
.landing-page .dynamic-text li {
  position: relative;
  top: 0;
  padding: 0 20px;
  height: 40px;
  font-size: 40px;
  animation: moving 2s 1s steps(2) alternate infinite;
}
@keyframes moving {
  100% {
    top: -80px;
  }
}
.landing-page .dynamic-text li span {
  position: relative;
}
.landing-page .dynamic-text li span::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 10%;
  width: 400px;
  height: 40px;
  opacity: 0.8;
  border-left: 6px solid white;
  animation: typing 2s steps(10) alternate infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -25px 0 25px;
  }
}
.landing-page .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.home-image img {
  background-size: cover;
}
/* About */
.about .image-content p {
  display: inline-block;
  font-weight: 300;
  color: #1e1e1e;
  font-size: 20px;
}
.about .about-text {
  font-weight: 300;
  color: #1e1e1e;
  font-size: 20px;
}
/* Services */
.service .service-item i {
  padding: 25px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px var(--main-color);
  transition: 0.5s;
}
.service .service-item:hover i {
  color: white;
  background-color: var(--main-color);
  box-shadow: 0 0 0 10px #cde1f8;
}
/* Stats */
.stats {
  background-image: url("../images/post-3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}
.stats .stats-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.8;
}
.stats .row i {
  padding: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.5);
  color: white;
}
/* Portfolio */
.portfolio .card img {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.portfolio .card img:hover {
  transform: scale(1.2);
}
.portfolio .portfolio-text i {
  font-size: 20px;
  color: var(--main-color);
  padding: 10px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
}
/* Testimonial */
.testimonial {
  background-image: url("../images/overlay-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}
.testimonial .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.7;
}
.testimonial .carousel-indicators {
  position: absolute;
  margin: 0 0 10px 0;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* Blog */
.blog .blog-footer-img img {
  width: 10%;
  cursor: pointer;
}
.blog .card img {
  cursor: pointer;
}
.blog .card .card-body h5 {
  cursor: pointer;
  transition: 0.5s;
}
.blog .card .card-footer .blog-footer-img img,
.blog .card .card-footer .blog-footer-img span {
  cursor: pointer;
  transition: 0.5s;
}
.blog .card .card-footer .blog-footer-img span:hover {
  color: var(--main-color);
}
.blog .card .card-body h5:hover {
  color: var(--main-color);
}
/* Contact */
.contact {
  background-image: url("../images/overlay-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}
.contact .image-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.8;
}
.contact button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 25px;
  transition: 0.2s;
}
.contact button:hover {
  background-color: #3393ff;
  border: 5px solid #eee;
}
.contact .contact-info .contact-info-item i {
  color: var(--main-color);
}
.contact .social-media-icons i {
  border-color: var(--main-color) !important;
  transition: 0.5s;
  cursor: pointer;
}
.contact .social-media-icons i:hover {
  background-color: var(--main-color) !important;
  color: white !important;
  border-color: gray !important;
}
/* Footer */
.footer {
  background-color: #0062d3;
}
